/* @format */
@import '../themify';
@import '../themes';

.page-layout.jarde {
  display: grid;
  width: 100%;
  height: 100%;

  grid-template-columns: 10rem auto 10rem;
  grid-template-rows: 10rem auto 5rem;
  justify-content: stretch;
  grid-template-areas:
    '. header .'
    'left-panel center-panel right-panel'
    'footer footer footer';

  .header {
    grid-area: header;
    position: relative;
  }

  .left-panel {
    grid-area: left-panel;

    .dock {
      width: 5rem;
      margin-left: -1rem;
      margin-top: 7rem;
      transition: all ease-in-out 0.2s;
      padding: 0;
      padding-left: 6px;

      .app {
        padding: 1rem;
        transition: all ease-in-out 0.2s;
        cursor: pointer;
        width: 100%;
        @include customize(theme) {
          background-color: getValue(bodyBackgroundColor);
          color: getValue(textColor);
        }

        &:first-child {
          border-top-right-radius: 2px;
        }
        &:last-child {
          border-bottom-right-radius: 2px;
        }

        &.running {
          margin-left: 2rem !important;
          border-bottom-right-radius: 2px;
          border-top-right-radius: 2px;
        }

        &:hover {
          @include customize(theme) {
            /*background-color: getValue(textColor);*/
            /*color: getValue(bodyBackgroundColor);*/
          }
        }
      }
    }
  }

  &.hasActiveApp .left-panel {
    margin-left: -1rem;
  }

  &.hasActiveApp .left-panel .dock .app:hover {
    margin-left: 1rem;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
  }

  .center-panel {
    grid-area: center-panel;
    &.opening-app {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          }

    &.application {
      overflow: auto;
      .container {
        padding: 0;

      }
    }
  }

  .right-panel {
    grid-area: right-panel;
  }

  .footer {
    grid-area: footer;
  }

  .container {
    height: 100%;
    width: 100%;
  }
}
