/* @format */
@import 'themify';
@import 'themes';

select {
  display: block;
  @include customize(theme) {
    background-color: getValue(inputBackgroundColor);
    border: 1px solid getValue(inputBorderColor);
  }
}
