/* @format */

@charset "UTF-8";
@import 'route_transitions';
@import 'page';
@import 'layouts/jarde';
@import 'components/terminal';
@import 'components/file-manager';
@import 'components/navbar';
@import 'components/dock';
@import 'form';
@import 'themify';
@import 'themes';
@import 'modal';

$green: #009688;
$light-black: #525252;
$theme-path: '../backgrounds';

@font-face {
  font-family: system;
}

body,
html {
  height: 100%;
  margin: 0;
  -webkit-user-select: none;
  overflow: hidden;
}

// icons size
.application-icon,
.favorites img {
  width: 32px !important;
}

#distro-logo {
  bottom: 20px;
  left: 20px;
  position: absolute;
}

#video-background {
  display: inline-block;
  position: absolute;
  z-index: 0;
  width: 100% !important;
}

.mini-dashboard-shortcuts .row .col,
.favorites .col {
  padding: 0;
}

.content-editable {
  -webkit-user-select: text;

  &:active,
  &:focus,
  &:hover {
    box-shadow: 0 2px 0 0 $light-black;
  }
}

a {
  transition: none;
}

#background:before {
  background-image: url('#{$theme-path}/dashboard.jpg');
  background-repeat: no-repeat;
  content: '';
  height: 100%;
  position: fixed;
  width: 100%;
  background-size: cover;
}

#background.office-background:before,
.office-background {
  background-image: url('#{$theme-path}/office.jpg');
}

#background.development-background:before,
.development-background {
  background-image: url('#{$theme-path}/development.jpg');
}

#background.education-background:before,
.education-background {
  background-image: url('#{$theme-path}/education.jpg');
}

#background.multimedia-background:before,
.multimedia-background {
  background-image: url('#{$theme-path}/multimedia.jpg');
}

#background.games-background:before,
.games-background {
  background-image: url('#{$theme-path}/games.jpg');
}

#background.graphics-background:before,
.graphics-background {
  background-image: url('#{$theme-path}/graphics.jpg');
}

#background.internet-background:before,
.internet-background {
  background-image: url('#{$theme-path}/internet.jpg');
}

#background.system-background:before,
.system-background {
  background-image: url('#{$theme-path}/system.jpg');
}

#background.settings-background:before,
.settings-background {
  background-image: url('#{$theme-path}/settings.jpg');
}

#background.help-background:before,
.help-background {
  background-image: url('#{$theme-path}/help.jpg');
}

#background.accessories-background:before,
.accessories-background {
  background-image: url('#{$theme-path}/accessories.jpg');
}

header {
  position: fixed;
  width: 100%;
}

.dashboard {
  position: absolute;
  top: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 1;
}

.dashboard.container > #main-dashboard {
  max-width: 960px;
  margin: 0 auto;
  font-size: 14px;
}

.application-box {
  display: block;
  padding-top: 2px;
  color: #fff;
  position: relative;
  z-index: 99;
  border-radius: 0px;
}

.application-wrapper {
  margin-bottom: 20px;
  padding-left: 1.75rem !important;
  padding-right: 1.75rem;
  padding-top: 20px !important;
}

.underline:not(nav span a) {
  border-bottom: 2px solid $green;
}

.pointer {
  cursor: pointer;
}

nav {
  .dropdown {
    height: 0px;
  }

  background-color: transparent;
  height: 0px;
  box-shadow: none;
  line-height: 40px;

  a {
    margin-top: 4px;
    color: #f0f0f0;

    &:active,
    &:focus,
    &:hover {
      color: #fff;
      //background-color: transparent !important;
    }
  }

  span {
    display: block;
    font-size: 16px;
    height: 50px;
    width: 100px;
    margin: auto;
    margin-top: -4px;

    &:hover + ul {
      display: inline-block !important;
    }

    a {
      padding: 4px;
    }
  }

  ul {
    padding-right: 10px;
    height: 70px;
    padding: 10px !important;
    background-color: #222d32;
    display: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -2px rgba(0, 0, 0, 0.2);

    &:hover {
      display: inline-block !important;
    }

    &:after {
      position: absolute;
      left: 50%;
      top: -12px;
      width: 0;
      height: 0;
      content: '';
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid #222d32;
      margin-left: -20px;
      margin-top: 48px;
    }

    &li {
      transition: none;
    }

    li {
      display: inline;
      float: none;
    }

    li a {
      display: inline-block;
      color: #e4e4e4 !important;
    }
  }
}

.application-name {
  background: #fff;
  padding: 12px;
  white-space: nowrap;
  color: rgba(51, 51, 51, 0.87);
  border-radius: 0;
  display: inline;
  text-overflow: ellipsis;
  font-size: 13px;
}

.application-icon {
  position: absolute;
  z-index: 999;
  margin-top: -20px;
  margin-right: -15px;
}

.application-icon {
  right: 0;
  filter: drop-shadow((-1px) 1px 1px rgba(36, 36, 36, 0.5));
}

.application-wrapper {
  right: 4px;
  padding-left: 4px;
}

.application-comment {
  padding: 15px;
  padding-top: 32px;
  font-size: 0.9rem !important;
  background-color: rgba(0, 0, 0, 0.52);
  margin-top: -10px;
}

.display {
  position: fixed;
  top: 0;
  z-index: -1;
  padding-top: 20px;
  width: 100%;
  color: #fff;
}

#time {
  font-size: 2.5rem;
  text-align: right;
}

#date {
  text-align: right;
}

.disk-usage {
  float: right;
  text-align: center;
  margin-right: 40px;
  margin-left: 38px;
  padding: 10px;
  width: 90px;
  height: 88px;
  border-radius: 100%;
  color: #ffff;
  padding-top: 33px;

  div {
    display: flex;
  }

  .hdd {
    margin-right: 10px;
  }

  .inner {
    justify-content: center;
  }
}

.display a:focus {
  color: #fff;
}
/* Ouline style when using keyboard */
* {
  outline: none;
}

.center-search {
  margin-top: 20px;
  text-align: center !important;
  width: 100%;
}

#search-container {
  width: 500px;
  z-index: 1;
  margin: 0 auto;
  height: 58px;

  a {
    display: none;

    img {
      width: 30px;
      margin-top: 6px;
      margin-left: -46px;
      position: absolute;
    }
  }

  input[type='text'] {
    width: 50%;
    height: 40px !important;
    border: 0;
    margin: 0;
    background: transparent;
    text-align: center;
    border-bottom: 1px solid #ffffff;
  }
}

#search::placeholder {
  color: #fff;
}

#search:focus::placeholder {
  opacity: 0;
}

.search-results {
  .application-comment {
    display: block !important;
  }
  z-index: 1;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;

  &:active,
  &:focus,
  &:hover {
    display: none;
  }
}

::-webkit-scrollbar-track {
  display: none;

  &:active,
  &:focus,
  &:hover {
    display: none;
  }
}

#search-icon,
.application-comment,
.category-container,
.category-msg,
.search-results,
::-webkit-scrollbar-corner {
  display: none;
}

#exit-menu {
  display: none;

  div {
    display: none;
  }
}

#search-icon img,
.category-icon {
  width: 50px;
  margin-top: 12px;
}

#TOP-LEFT-DESCRIPTION {
  position: absolute;
  margin-left: 40px;
  margin-top: 20px;
}

.category-msg h5 {
  float: right;
  margin-left: 72px;
  line-height: 22px;
  margin-top: 15px;

  span {
    display: block;
    margin-left: -58px;

    &:first-of-type {
      font-size: 18px;
      color: #e7e7e7;
    }

    &:last-of-type {
      font-size: 13px;
    }
  }

  &:first-letter {
    text-transform: capitalize;
  }
}

.search-title {
  font-size: 18px;
  float: right;
  line-height: 22px;
  margin-top: 24px;
}

#search-msg {
  position: relative;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: default;
}

.category-container .application-comment {
  padding-top: 42px;
}

.category-container.row,
.search-results.row {
  margin-left: -1.72rem;
  margin-right: 5.75rem;
}

.category-container {
  padding-bottom: 110px;

  .row {
    margin-left: 0;
  }
}

.shutdown a,
.username {
  color: #525252;
}

.notes {
  background: #fff9c4;
  padding: 10px;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  min-height: 256px;
  color: #525252;

  p {
    &:first-child {
      text-align: center;
      margin-top: -4px;
    }
    padding: 10px;
  }
}

.users {
  width: 60%;
  padding: 20px 10px 10px;
  margin-left: 3%;
  padding-left: 4px;
}

#hibernate,
#login,
#poweroff,
#reboot,
#sleep,
#suspend,
.dash-right-button,
.favorit-applications-button,
.Settings a,
.System a,
.Help a,
.username {
  background-color: #fff;
  color: #525252;
}

#hibernate,
#login,
#poweroff,
#reboot,
#sleep,
#suspend,
.dash-right-button,
.Settings a,
.System a,
.username {
  border-top: 1px solid #b1b1b1;
  position: relative;
}

.mini-dashboard-shortcuts {
  a {
    position: relative;
  }

  .row {
    margin-top: 11px;
  }

  a:first-child {
    margin-left: 11px !important;
  }
}

.mini-dashboard-left {
  a {
    padding: 10px !important;
  }

  div:first-of-type a {
    border-top: 4px solid $green;
    position: relative;
  }

  div:last-child a {
    border-bottom: 6px solid $green;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.mini-dashboard-exit .username {
  border-top: 4px solid $green;
}

.mini-dashboard-exit {
  .username,
  a {
    padding: 10px !important;
  }
}

.dash-right-button {
  padding: 10px !important;
}

.mini-dashboard-exit img,
.mini-dashboard-left img {
  width: 24px;
  position: absolute;
  right: 5px;
  top: 8px;
}

div.marginleft:hover {
  transition: margin-left 0.3s ease;
  margin-left: 11px !important;
}

#TOP-LEFT-DESCRIPTION,
#date,
#time,
.disk-usage,
.favorit-applications-button,
.notes p:first-of-type,
.username {
  cursor: default;
}
/* tooltips */
.backdrop {
  background-color: #222d32;
}

.material-tooltip {
  color: #e4e4e4;
  font-size: 14px;
}
/* improve selection visibility */
.favorites button,
.notes {
  filter: grayscale(24%) opacity(96%) brightness(94%);
}

.notes {
  filter: opacity(80%);
}

.favorites button:hover,
.notes:hover {
  filter: grayscale(0%) opacity(100%) brightness(100%);
}

#main-dashboard .row:first-child {
  margin-bottom: 4px;
}

.menu-bottom-decoration {
  background-color: $green;
  height: 6px !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: block !important;

  .dash-right-button {
    padding: 0;
    background: transparent;
    border-top: 0;
  }
}

#exit-menu {
  height: 252px;
  width: 100%;
  overflow: hidden;
  padding-top: 1px;
  margin-bottom: 1px;
}

#exit-button {
  overflow: hidden;
}

#exit-menu div {
  position: relative;
}

#clear-search {
  margin-left: 22px;
  position: absolute;
  margin-top: 9px;
  color: #fff !important;
  font-weight: bold;
  display: inline;
}

#about-jade {
  text-align: center;
  padding: 40px;
  overflow: visible;
  font-size: 12px;
  top: 50% !important;
  transform: translateY(-50%) !important;
  max-width: 800px;

  div:first-child {
    margin-top: -124px;
  }

  #author-pic {
    position: absolute;
    bottom: -44px;
    left: 46px;

    img {
      width: 80px;
      border: 3px solid #fafafa;
      border-radius: 100px;
    }
  }

  #app-author {
    margin-bottom: 10px;
    font-size: 10px;
  }

  #app-logo {
    background-image: url('../../img/jade-logo.svg');
    height: 160px;
    background-size: 120px 120px;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
  }

  #app-name {
    font-weight: bold;
    color: rgb(233, 30, 99);
    font-size: 15px;
  }

  .modal-close {
    color: $green;
    position: absolute;
    bottom: 10px;
    right: 14px;
    font-weight: bold;
  }

  .modal-content {
    color: #525252;
    padding: 30px;
  }

  #luv {
    span {
      color: $green;
    }

    span:first-child {
      color: red;
    }
  }
}

.favorites {
  button {
    margin-right: 25px;
    height: 38px;
    background-color: transparent;
    border: none;
  }

  button:first-of-type {
    margin-left: 10px;
  }

  &:not(#dashboard-favorites) {
    border-bottom: 1px solid #fff;
    margin-left: 16px;
    height: 50px !important;
  }

  img {
    margin-bottom: 20px;
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
  }
}

#preload {
  visibility: hidden;
}

.applications-arrow-highlight {
  width: 18px;
  margin-top: 12px;
  position: absolute;
  margin-left: 12px;
  animation: shake 4s;
  animation-delay: 2s;
  animation-iteration-count: 1;
}
