$themes: (
  light: (
    bodyBackgroundColor: #fff,
    headerBackgroundColor: #b4b7ba,
    inputBackgroundColor: transparent,
    inputBorderColor: black,
    textColor: #182026,
  ),
  dark: (
    bodyBackgroundColor: #000,
    headerBackgroundColor: #131b1f,
    inputBackgroundColor: transparent,
    inputBorderColor: black,
    textColor: #fff,
  ),
);

$color-schemes: (
  scheme-default: (
    backgroundColor: #00b4ff,
  ),
  scheme-cs1: (
    backgroundColor: #e68a00,
  )
);
