/* @format */
@import '../themify';
@import '../themes';

$filesperrow: 7;
$filewidth: calc(100% / #{$filesperrow});
$fileheight: 5rem;

.page .desktop {
  .dock {
    .app {
    }
  }
}

.dock-appname {
  line-height: calc(2rem + 1px);
  font-size: 16px;
  padding: 0px 4px;
}
