/* @format */
@import '../themify';
@import '../themes';

$filesperrow: 7;
$filewidth: calc(100% / #{$filesperrow});
$fileheight: 5rem;

.file-manager {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 3rem auto;
  justify-content: stretch;
  grid-template-areas:
    'header'
    'explorer';

  .files-header {
    grid-area: header;
    z-index: 1;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    @include customize(theme) {
      background-color: getValue(headerBackgroundColor);
    }

    .files-options {
      width: calc(12.5rem - 15px);
    }

    .files-tabs {
      padding-left: 15px;
      /*width: calc(100% - (13.5rem + 1px));*/
    }

    .files-tabs-buttons .bp3-navbar-heading {
      margin-right: 0;
    }
  }

  .files-explorer {
    grid-area: explorer;

    overflow: auto;

    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 12.5rem auto;
    justify-content: stretch;
    grid-template-areas: 'sidebar files';

    .files-sidebar {
      grid-area: sidebar;
      margin-top: 7px;

      overflow: auto;

      .bp3-tree .bp3-tree-node .bp3-tree-node-caret-none {
        min-width: 10px;
      }
    }

    .files-grid {
      grid-area: files;

      margin-top: 7px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;

      overflow: auto;

      .file {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 8.3rem;
        height: 5rem;
        padding: 0;
        margin: 0;
        margin-top: 3px;

        .file-icon {
          padding: 10px;
          border-radius: 1rem;

          &:hover {
            box-shadow: 0 0 0 1px rgba(16,22,26,.4);
            background-color: #30404d22;
          }
        }

        .filename {
          position: absolute;
          bottom: 0;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
