/* @format */
@import '../themify';
@import '../themes';

$navbar-margin: 2rem;

.page .desktop {
  .navbar {
    position: absolute;
    bottom: $navbar-margin;
    left: $navbar-margin;
    right: $navbar-margin;
    padding: 0 15px;
    width: auto;

    .current-folder .bp3-icon {
      padding-left: 8px;
    }
  }
}
