/* @format */
@import '../../../../node_modules/xterm/css/xterm.css';
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

div.transition-group {
  position: relative;
}

section.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.page {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.page.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

/* @format */
.page-layout.jarde {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 10rem auto 10rem;
  grid-template-rows: 10rem auto 5rem;
  justify-content: stretch;
  grid-template-areas: ". header ." "left-panel center-panel right-panel" "footer footer footer";
}
.page-layout.jarde .header {
  grid-area: header;
  position: relative;
}
.page-layout.jarde .left-panel {
  grid-area: left-panel;
}
.page-layout.jarde .left-panel .dock {
  width: 5rem;
  margin-left: -1rem;
  margin-top: 7rem;
  transition: all ease-in-out 0.2s;
  padding: 0;
  padding-left: 6px;
}
.page-layout.jarde .left-panel .dock .app {
  padding: 1rem;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  width: 100%;
}
.theme-light .page-layout.jarde .left-panel .dock .app {
  background-color: #fff;
  color: #182026;
}
.theme-dark .page-layout.jarde .left-panel .dock .app {
  background-color: #000;
  color: #fff;
}
.page-layout.jarde .left-panel .dock .app:first-child {
  border-top-right-radius: 2px;
}
.page-layout.jarde .left-panel .dock .app:last-child {
  border-bottom-right-radius: 2px;
}
.page-layout.jarde .left-panel .dock .app.running {
  margin-left: 2rem !important;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.theme-light .page-layout.jarde .left-panel .dock .app:hover {
  /*background-color: getValue(textColor);*/
  /*color: getValue(bodyBackgroundColor);*/
}
.theme-dark .page-layout.jarde .left-panel .dock .app:hover {
  /*background-color: getValue(textColor);*/
  /*color: getValue(bodyBackgroundColor);*/
}
.page-layout.jarde.hasActiveApp .left-panel {
  margin-left: -1rem;
}
.page-layout.jarde.hasActiveApp .left-panel .dock .app:hover {
  margin-left: 1rem;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.page-layout.jarde .center-panel {
  grid-area: center-panel;
}
.page-layout.jarde .center-panel.opening-app {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.page-layout.jarde .center-panel.application {
  overflow: auto;
}
.page-layout.jarde .center-panel.application .container {
  padding: 0;
}
.page-layout.jarde .right-panel {
  grid-area: right-panel;
}
.page-layout.jarde .footer {
  grid-area: footer;
}
.page-layout.jarde .container {
  height: 100%;
  width: 100%;
}

/* @format */
.terminal {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  padding: 3px;
}

/* @format */
.file-manager {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 3rem auto;
  justify-content: stretch;
  grid-template-areas: "header" "explorer";
}
.file-manager .files-header {
  grid-area: header;
  z-index: 1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.theme-light .file-manager .files-header {
  background-color: #b4b7ba;
}
.theme-dark .file-manager .files-header {
  background-color: #131b1f;
}
.file-manager .files-header .files-options {
  width: calc(12.5rem - 15px);
}
.file-manager .files-header .files-tabs {
  padding-left: 15px;
  /*width: calc(100% - (13.5rem + 1px));*/
}
.file-manager .files-header .files-tabs-buttons .bp3-navbar-heading {
  margin-right: 0;
}
.file-manager .files-explorer {
  grid-area: explorer;
  overflow: auto;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 12.5rem auto;
  justify-content: stretch;
  grid-template-areas: "sidebar files";
}
.file-manager .files-explorer .files-sidebar {
  grid-area: sidebar;
  margin-top: 7px;
  overflow: auto;
}
.file-manager .files-explorer .files-sidebar .bp3-tree .bp3-tree-node .bp3-tree-node-caret-none {
  min-width: 10px;
}
.file-manager .files-explorer .files-grid {
  grid-area: files;
  margin-top: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
}
.file-manager .files-explorer .files-grid .file {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8.3rem;
  height: 5rem;
  padding: 0;
  margin: 0;
  margin-top: 3px;
}
.file-manager .files-explorer .files-grid .file .file-icon {
  padding: 10px;
  border-radius: 1rem;
}
.file-manager .files-explorer .files-grid .file .file-icon:hover {
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.4);
  background-color: #30404d22;
}
.file-manager .files-explorer .files-grid .file .filename {
  position: absolute;
  bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

/* @format */
.page .desktop .navbar {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  padding: 0 15px;
  width: auto;
}
.page .desktop .navbar .current-folder .bp3-icon {
  padding-left: 8px;
}

/* @format */
.dock-appname {
  line-height: calc(2rem + 1px);
  font-size: 16px;
  padding: 0px 4px;
}

/* @format */
select {
  display: block;
}
.theme-light select {
  background-color: transparent;
  border: 1px solid black;
}
.theme-dark select {
  background-color: transparent;
  border: 1px solid black;
}

/* @format */
.modal {
  position: initial;
}
.modal.loading {
  padding: 0;
}

@font-face {
  font-family: system;
}
body,
html {
  height: 100%;
  margin: 0;
  -webkit-user-select: none;
  overflow: hidden;
}

.application-icon,
.favorites img {
  width: 32px !important;
}

#distro-logo {
  bottom: 20px;
  left: 20px;
  position: absolute;
}

#video-background {
  display: inline-block;
  position: absolute;
  z-index: 0;
  width: 100% !important;
}

.mini-dashboard-shortcuts .row .col,
.favorites .col {
  padding: 0;
}

.content-editable {
  -webkit-user-select: text;
}
.content-editable:active, .content-editable:focus, .content-editable:hover {
  box-shadow: 0 2px 0 0 #525252;
}

a {
  transition: none;
}

#background:before {
  background-image: url("../backgrounds/dashboard.jpg");
  background-repeat: no-repeat;
  content: "";
  height: 100%;
  position: fixed;
  width: 100%;
  background-size: cover;
}

#background.office-background:before,
.office-background {
  background-image: url("../backgrounds/office.jpg");
}

#background.development-background:before,
.development-background {
  background-image: url("../backgrounds/development.jpg");
}

#background.education-background:before,
.education-background {
  background-image: url("../backgrounds/education.jpg");
}

#background.multimedia-background:before,
.multimedia-background {
  background-image: url("../backgrounds/multimedia.jpg");
}

#background.games-background:before,
.games-background {
  background-image: url("../backgrounds/games.jpg");
}

#background.graphics-background:before,
.graphics-background {
  background-image: url("../backgrounds/graphics.jpg");
}

#background.internet-background:before,
.internet-background {
  background-image: url("../backgrounds/internet.jpg");
}

#background.system-background:before,
.system-background {
  background-image: url("../backgrounds/system.jpg");
}

#background.settings-background:before,
.settings-background {
  background-image: url("../backgrounds/settings.jpg");
}

#background.help-background:before,
.help-background {
  background-image: url("../backgrounds/help.jpg");
}

#background.accessories-background:before,
.accessories-background {
  background-image: url("../backgrounds/accessories.jpg");
}

header {
  position: fixed;
  width: 100%;
}

.dashboard {
  position: absolute;
  top: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 1;
}

.dashboard.container > #main-dashboard {
  max-width: 960px;
  margin: 0 auto;
  font-size: 14px;
}

.application-box {
  display: block;
  padding-top: 2px;
  color: #fff;
  position: relative;
  z-index: 99;
  border-radius: 0px;
}

.application-wrapper {
  margin-bottom: 20px;
  padding-left: 1.75rem !important;
  padding-right: 1.75rem;
  padding-top: 20px !important;
}

.underline:not(nav span a) {
  border-bottom: 2px solid #009688;
}

.pointer {
  cursor: pointer;
}

nav {
  background-color: transparent;
  height: 0px;
  box-shadow: none;
  line-height: 40px;
}
nav .dropdown {
  height: 0px;
}
nav a {
  margin-top: 4px;
  color: #f0f0f0;
}
nav a:active, nav a:focus, nav a:hover {
  color: #fff;
}
nav span {
  display: block;
  font-size: 16px;
  height: 50px;
  width: 100px;
  margin: auto;
  margin-top: -4px;
}
nav span:hover + ul {
  display: inline-block !important;
}
nav span a {
  padding: 4px;
}
nav ul {
  padding-right: 10px;
  height: 70px;
  padding: 10px !important;
  background-color: #222d32;
  display: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
nav ul:hover {
  display: inline-block !important;
}
nav ul:after {
  position: absolute;
  left: 50%;
  top: -12px;
  width: 0;
  height: 0;
  content: "";
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #222d32;
  margin-left: -20px;
  margin-top: 48px;
}
nav ulli {
  transition: none;
}
nav ul li {
  display: inline;
  float: none;
}
nav ul li a {
  display: inline-block;
  color: #e4e4e4 !important;
}

.application-name {
  background: #fff;
  padding: 12px;
  white-space: nowrap;
  color: rgba(51, 51, 51, 0.87);
  border-radius: 0;
  display: inline;
  text-overflow: ellipsis;
  font-size: 13px;
}

.application-icon {
  position: absolute;
  z-index: 999;
  margin-top: -20px;
  margin-right: -15px;
}

.application-icon {
  right: 0;
  filter: drop-shadow(-1px 1px 1px rgba(36, 36, 36, 0.5));
}

.application-wrapper {
  right: 4px;
  padding-left: 4px;
}

.application-comment {
  padding: 15px;
  padding-top: 32px;
  font-size: 0.9rem !important;
  background-color: rgba(0, 0, 0, 0.52);
  margin-top: -10px;
}

.display {
  position: fixed;
  top: 0;
  z-index: -1;
  padding-top: 20px;
  width: 100%;
  color: #fff;
}

#time {
  font-size: 2.5rem;
  text-align: right;
}

#date {
  text-align: right;
}

.disk-usage {
  float: right;
  text-align: center;
  margin-right: 40px;
  margin-left: 38px;
  padding: 10px;
  width: 90px;
  height: 88px;
  border-radius: 100%;
  color: #ffff;
  padding-top: 33px;
}
.disk-usage div {
  display: flex;
}
.disk-usage .hdd {
  margin-right: 10px;
}
.disk-usage .inner {
  justify-content: center;
}

.display a:focus {
  color: #fff;
}

/* Ouline style when using keyboard */
* {
  outline: none;
}

.center-search {
  margin-top: 20px;
  text-align: center !important;
  width: 100%;
}

#search-container {
  width: 500px;
  z-index: 1;
  margin: 0 auto;
  height: 58px;
}
#search-container a {
  display: none;
}
#search-container a img {
  width: 30px;
  margin-top: 6px;
  margin-left: -46px;
  position: absolute;
}
#search-container input[type=text] {
  width: 50%;
  height: 40px !important;
  border: 0;
  margin: 0;
  background: transparent;
  text-align: center;
  border-bottom: 1px solid #ffffff;
}

#search::placeholder {
  color: #fff;
}

#search:focus::placeholder {
  opacity: 0;
}

.search-results {
  z-index: 1;
}
.search-results .application-comment {
  display: block !important;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}
::-webkit-scrollbar-thumb:active, ::-webkit-scrollbar-thumb:focus, ::-webkit-scrollbar-thumb:hover {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-track:active, ::-webkit-scrollbar-track:focus, ::-webkit-scrollbar-track:hover {
  display: none;
}

#search-icon,
.application-comment,
.category-container,
.category-msg,
.search-results,
::-webkit-scrollbar-corner {
  display: none;
}

#exit-menu {
  display: none;
}
#exit-menu div {
  display: none;
}

#search-icon img,
.category-icon {
  width: 50px;
  margin-top: 12px;
}

#TOP-LEFT-DESCRIPTION {
  position: absolute;
  margin-left: 40px;
  margin-top: 20px;
}

.category-msg h5 {
  float: right;
  margin-left: 72px;
  line-height: 22px;
  margin-top: 15px;
}
.category-msg h5 span {
  display: block;
  margin-left: -58px;
}
.category-msg h5 span:first-of-type {
  font-size: 18px;
  color: #e7e7e7;
}
.category-msg h5 span:last-of-type {
  font-size: 13px;
}
.category-msg h5:first-letter {
  text-transform: capitalize;
}

.search-title {
  font-size: 18px;
  float: right;
  line-height: 22px;
  margin-top: 24px;
}

#search-msg {
  position: relative;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: default;
}

.category-container .application-comment {
  padding-top: 42px;
}

.category-container.row,
.search-results.row {
  margin-left: -1.72rem;
  margin-right: 5.75rem;
}

.category-container {
  padding-bottom: 110px;
}
.category-container .row {
  margin-left: 0;
}

.shutdown a,
.username {
  color: #525252;
}

.notes {
  background: #fff9c4;
  padding: 10px;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  min-height: 256px;
  color: #525252;
}
.notes p {
  padding: 10px;
}
.notes p:first-child {
  text-align: center;
  margin-top: -4px;
}

.users {
  width: 60%;
  padding: 20px 10px 10px;
  margin-left: 3%;
  padding-left: 4px;
}

#hibernate,
#login,
#poweroff,
#reboot,
#sleep,
#suspend,
.dash-right-button,
.favorit-applications-button,
.Settings a,
.System a,
.Help a,
.username {
  background-color: #fff;
  color: #525252;
}

#hibernate,
#login,
#poweroff,
#reboot,
#sleep,
#suspend,
.dash-right-button,
.Settings a,
.System a,
.username {
  border-top: 1px solid #b1b1b1;
  position: relative;
}

.mini-dashboard-shortcuts a {
  position: relative;
}
.mini-dashboard-shortcuts .row {
  margin-top: 11px;
}
.mini-dashboard-shortcuts a:first-child {
  margin-left: 11px !important;
}

.mini-dashboard-left a {
  padding: 10px !important;
}
.mini-dashboard-left div:first-of-type a {
  border-top: 4px solid #009688;
  position: relative;
}
.mini-dashboard-left div:last-child a {
  border-bottom: 6px solid #009688;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.mini-dashboard-exit .username {
  border-top: 4px solid #009688;
}

.mini-dashboard-exit .username,
.mini-dashboard-exit a {
  padding: 10px !important;
}

.dash-right-button {
  padding: 10px !important;
}

.mini-dashboard-exit img,
.mini-dashboard-left img {
  width: 24px;
  position: absolute;
  right: 5px;
  top: 8px;
}

div.marginleft:hover {
  transition: margin-left 0.3s ease;
  margin-left: 11px !important;
}

#TOP-LEFT-DESCRIPTION,
#date,
#time,
.disk-usage,
.favorit-applications-button,
.notes p:first-of-type,
.username {
  cursor: default;
}

/* tooltips */
.backdrop {
  background-color: #222d32;
}

.material-tooltip {
  color: #e4e4e4;
  font-size: 14px;
}

/* improve selection visibility */
.favorites button,
.notes {
  filter: grayscale(24%) opacity(96%) brightness(94%);
}

.notes {
  filter: opacity(80%);
}

.favorites button:hover,
.notes:hover {
  filter: grayscale(0%) opacity(100%) brightness(100%);
}

#main-dashboard .row:first-child {
  margin-bottom: 4px;
}

.menu-bottom-decoration {
  background-color: #009688;
  height: 6px !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: block !important;
}
.menu-bottom-decoration .dash-right-button {
  padding: 0;
  background: transparent;
  border-top: 0;
}

#exit-menu {
  height: 252px;
  width: 100%;
  overflow: hidden;
  padding-top: 1px;
  margin-bottom: 1px;
}

#exit-button {
  overflow: hidden;
}

#exit-menu div {
  position: relative;
}

#clear-search {
  margin-left: 22px;
  position: absolute;
  margin-top: 9px;
  color: #fff !important;
  font-weight: bold;
  display: inline;
}

#about-jade {
  text-align: center;
  padding: 40px;
  overflow: visible;
  font-size: 12px;
  top: 50% !important;
  transform: translateY(-50%) !important;
  max-width: 800px;
}
#about-jade div:first-child {
  margin-top: -124px;
}
#about-jade #author-pic {
  position: absolute;
  bottom: -44px;
  left: 46px;
}
#about-jade #author-pic img {
  width: 80px;
  border: 3px solid #fafafa;
  border-radius: 100px;
}
#about-jade #app-author {
  margin-bottom: 10px;
  font-size: 10px;
}
#about-jade #app-logo {
  background-image: url("../../img/jade-logo.svg");
  height: 160px;
  background-size: 120px 120px;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
}
#about-jade #app-name {
  font-weight: bold;
  color: #e91e63;
  font-size: 15px;
}
#about-jade .modal-close {
  color: #009688;
  position: absolute;
  bottom: 10px;
  right: 14px;
  font-weight: bold;
}
#about-jade .modal-content {
  color: #525252;
  padding: 30px;
}
#about-jade #luv span {
  color: #009688;
}
#about-jade #luv span:first-child {
  color: red;
}

.favorites button {
  margin-right: 25px;
  height: 38px;
  background-color: transparent;
  border: none;
}
.favorites button:first-of-type {
  margin-left: 10px;
}
.favorites:not(#dashboard-favorites) {
  border-bottom: 1px solid #fff;
  margin-left: 16px;
  height: 50px !important;
}
.favorites img {
  margin-bottom: 20px;
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

#preload {
  visibility: hidden;
}

.applications-arrow-highlight {
  width: 18px;
  margin-top: 12px;
  position: absolute;
  margin-left: 12px;
  animation: shake 4s;
  animation-delay: 2s;
  animation-iteration-count: 1;
}

/*# sourceMappingURL=jade.css.map */
